.navbar {
    background-color: #393b90;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.rigth50 {
    margin-right: 50%;
}

.left50 {
    margin-left: 50%;
}

.logo {
    width: 150px;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.logo img {
    padding: 0.2%;
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
}


