@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
}

.faic {
  display: flex;
  align-items: center;
}
.jcsb {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.jcc {
  display: flex;
  justify-content: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.mt1 {
  margin-top: 1%;
}
.mt2 {
  margin-top: 2%;
}
.mt3 {
  margin-top: 3%;
}
.mt4 {
  margin-top: 4%;
}
.mt5 {
  margin-top: 5%;
}
.mt6 {
  margin-top: 7.5rem;
}
.mt7 {
  margin-top: 7%;
}
.mt8 {
  margin-top: 8%;
}
.mt9 {
  margin-top: 9%;
}

.mr1 {
  margin-right: 1%;
}
.mr2 {
  margin-right: 2%;
}
.mr3 {
  margin-right: 3%;
}
.mr4 {
  margin-right: 4%;
}
.mr5 {
  margin-right: 5%;
}
.mr6 {
  margin-right: 6%;
}
.ml1 {
  margin-left: 1%;
}
.ml2 {
  margin-left: 2%;
}
.ml3 {
  margin-left: 3%;
}
.ml4 {
  margin-left: 4%;
}
.ml5 {
  margin-left: 5%;
}
.ml6 {
  margin-left: 6%;
}


.underline {
  text-decoration: underline;
}
.cp {
  cursor: pointer;
}


